.button-avis{
    cursor: pointer;
    outline: 0;
    color: #000000;
    background-color: #fcf18f;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 19px;
    border-radius: 0.25rem;
    min-width: 200px;
}


.button-avis1{
    cursor: pointer;
    outline: 0;
    color: #000000;
    background-color: #cfe2ff;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 19px;
    border-radius: 0.25rem;
    min-width: 200px;
}

.flex-end{
    padding: 50px 0px 0px 90px;
    display: flex;
    justify-content: space-around;
}

.button-avis2{
    cursor: pointer;
    outline: 0;
    color: #000000;
    background-color: #fcb98f;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 19px;
    border-radius: 0.25rem;
    min-width: 200px;
}

.button-avis3{
    cursor: pointer;
    outline: 0;
    color: #000000;
    background-color: #8ffc9c;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 19px;
    border-radius: 0.25rem;
    min-width: 200px;
}

.footer{
    position: absolute;
    width: 97.45%;
    height: 50px;
    top: 150%;

    background-color: #3366FF;
}

.nous{
    text-align: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/*formulaire*/
fieldset{
    border:0;
}
#Result{
    border: 1px solid gray;
}