.avis-personne{
    position: absolute;
    height: 232px;
    top: 600px;
    left: 10%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight : bold;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.nom-personne{
    position: absolute;
    width: 195px;
    height: 58px;
    left: 57%;
    top: 700px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 25px;
}


.fleche-droite{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 80%;
    top: 245px;
}

.photo-personne{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 150px;
    top: 580px;
}

.button-avis1{
    cursor: pointer;
    outline: 0;
    color: #000000;
    background-color: #cfe2ff;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 19px;
    border-radius: 0.25rem;
    min-width: 200px;
}

.flex-end{
    padding: 50px 0px 0px 90px;
    display: flex;
    justify-content: space-around;
}

.button-avis2{
    cursor: pointer;
    outline: 0;
    color: #000000;
    background-color: #fcb98f;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 19px;
    border-radius: 0.25rem;
    min-width: 200px;
}

.button-avis3{
    cursor: pointer;
    outline: 0;
    color: #000000;
    background-color: #8ffc9c;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 19px;
    border-radius: 0.25rem;
    min-width: 200px;
}

.photo-personne{
    top: 70%;
    left: 20%;
}

.avis-personne{
    top: 74%;
    left: 35%;
    text-align: left;
}

.nom-personne{
    top: 87%;
}
