
#avis{
    position: relative;
    height: 493px;
    background-color: white;
}

#avis-1{
    height: 350px;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.avis-personne{
    position: absolute;
    height: 232px;
    top: 30%;
    left: 40%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight : bold;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.nom-personne{
    position: absolute;
    width: 195px;
    height: 58px;
    left: 50%;
    top: 50%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 25px;
}

.photo-personne{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 20%;
    top: 30%;
}

.button-avis{
    cursor: pointer;
    outline: 0;
    color: #000000;
    background-color: #fcf18f;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 19px;
    border-radius: 0.25rem;
    min-width: 200px;
}

.button-avis1{
    cursor: pointer;
    outline: 0;
    color: #000000;
    background-color: #cfe2ff;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 19px;
    border-radius: 0.25rem;
    min-width: 200px;
}

.flex-end{
    padding: 50px 0px 0px 90px;
    display: flex;
    justify-content: space-around;
}

.button-avis2{
    cursor: pointer;
    outline: 0;
    color: #000000;
    background-color: #fcb98f;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 19px;
    border-radius: 0.25rem;
    min-width: 200px;
}

.button-avis3{
    cursor: pointer;
    outline: 0;
    color: #000000;
    background-color: #8ffc9c;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 19px;
    border-radius: 0.25rem;
    min-width: 200px;
}

.footer{
    position: absolute;
    width: 97.45%;
    height: 50px;
    top: 1700px;

    background-color: #3366FF;
}

.nous{
    text-align: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}