.photo{
position: absolute;
width: 97.45%;
height: 800px;
padding-left: 2px;


background-color: rgb(255, 255, 255);
}

.photo1{
position: absolute;
left: 20%;
top: 20%;
}

.titrephoto{
position: absolute;
left: 10%;
top: 5%;
text-decoration: underline;
color: #3366FF;
}

.photo2{
position: absolute;
left: 60%;
top: 20%;
}

.photo3{
    position: absolute;
    left: 20%;
    top: 60%;
}