

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }


  .container{
    top:5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-section right-section right-section";
    width: 95%;
    margin: 100px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  

  .profile img {
    border-radius: 50%;
    height: 50%;
    width: 90%;
  }
  .left-section{
    grid-area: left-section;
    padding: 50px;
    background-color: #4977e2;
    color: white;
  }
  .right-section{
    grid-area: right-section;
    margin-left: 4%;
  }

  @media screen and (max-width: 800px) {
    .container{
      display: block;
      width: 90%;
      margin: 50px auto;
      box-shadow: none;
    }
    .left-section{
      padding: 20px;
    }
    .right-section{
      margin-left: 0;
      margin-top: 50px;
    }
    .profile img{
      height: auto;
      width: 100%;
    }
  }