.titredesphotos {
    position: absolute;
    height: 118px;
    left: 150px;
    top: 40%;
    text-decoration: underline;

    font-size: 40px;
    color:#3366FF;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer{
    position: absolute;
    width: 97.45%;
    height: 50px;
    top: 2300px;

    background-color: #3366FF;
}

.nous{
    text-align: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.dropdown-contenu {
    display: none;
    position: absolute;
    background-color: #ffffff91;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-contenu {
    display: block;
}